.banner-sobre {
  width: 100%;
  height: 540px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 45% center;

  .container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.banner-sobre-txt {
  width: 200px;
  margin-top: 20px;

  h1,
  p {
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .banner-sobre {
    .container {
      align-items: center;
    }
  }

  .banner-sobre-txt {
    width: 380px;
    margin-top: 0;

    h1 {
      font-size: 38px;
    }
  }
}
