.header-contato {
  width: 100%;
  padding: 8px 0;
  background-color: $darkGold;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-contato-info {
  a {
    padding: 8px 8px 8px 0;
    display: flex;
    align-items: center;

    &:not(.show-mobile) {
      display: none;
    }

    span {
      color: #fff;
      font-size: 12px;
    }

    svg {
      margin-right: 6px;
      width: 12px;
      height: 12px;
      fill: #fff;
    }
  }
}

.header-contato-search {
  position: relative;

  button {
    padding: 6px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    svg {
      width: 16px;
      height: 16px;
      fill: #fff;
    }
  }
}

@import './search';

@media screen and (min-width: 1050px) {
  .header-contato-info {
    display: flex;

    a {
      margin-right: 16px;

      &:not(.show-mobile) {
        display: flex;
      }
    }
  }
}
