.header {
  position: relative;
  width: 100%;
  transform: translate3d(0, -50%, 0);
  opacity: 0;
  transition: 1.5s transform, 1.5s opacity;

  &.animar {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@import './contato';
@import './menu';
