.header-navigation {
  background-color: #fff;
  width: 100%;
  padding: 16px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo-header img {
  width: 200px;
}

.menu-hamb {
  width: 32px;
  height: 24px;
  margin-left: 16px;
  padding: 4px;
  background-color: transparent;
  border: none;
  z-index: 9;

  &::before,
  &::after {
    content: '';
  }

  &::before,
  &::after,
  span {
    width: 100%;
    height: 2px;
    display: block;
    background-color: $darkGold;
    margin-bottom: 4px;
    transition: 0.5s transform ease-out;
  }

  &.ativo {
    &::before {
      transform: rotate(-45deg) translate3d(-4px, 4px, 0);
    }

    span {
      transform: rotate(45deg);
    }

    &::after {
      transform: scale(0);
    }
  }
}

@media screen and (max-width: 1050px) {
  .menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
    transform: translate3d(-100%, 0, 0);
    transition: 0.5s transform ease-out;
    z-index: 999;

    &.ativo {
      transform: translate3d(0, 0, 0);
    }

    .menu {
      margin-bottom: 16px;

      ul {
        display: flex;
        flex-direction: column;

        a {
          font-size: 18px;
          padding: 8px;
          display: block;
          color: $darkGold;
          text-align: center;
        }
      }
    }

    .header-contato-midias {
      display: flex;
      align-items: center;

      a {
        display: flex;
        padding: 6px;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
