.search-header {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;

  &.ativo {
    display: block;
  }

  form input {
    padding: 8px 16px;
    border: none;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  }
}
