.ebook-form {
  width: 100%;
  padding: 64px 0;
  background-color: #f7eee4;

  form {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    display: grid;
    gap: 8px;

    span {
      margin-bottom: 16px;
      text-align: center;
    }

    input {
      padding: 8px 16px;
      border-radius: 16px;
      background-color: transparent;
      border: 1px solid $darkGrey;
      color: $darkGrey;

      &::placeholder {
        color: $darkGrey;
      }
    }

    input[type='submit'] {
      width: auto;
      padding: 8px 32px;
      justify-self: center;
      background-color: $gold;
      border: 2px solid $gold;
      color: #fff;
    }
  }
}
