.ebook {
  width: 100%;
  padding: 64px 0;
  background-color: #fff;

  .container {
    > h2 {
      color: $gold;
      text-align: center;
    }

    .ebook-wrapper {
      align-items: flex-start;

      img {
        width: 280px;
        align-self: center;
      }

      h3 {
        margin-bottom: 16px;
        color: $gold;
        font-size: 26px;
      }

      h4 {
        max-width: 260px;
        font-size: 18px;
      }
    }
  }
}

@import './form';
