.home-agende {
  width: 100%;
  padding: 64px 0;
  background-color: $gold;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-bottom: 16px;
      color: #fff;
      text-align: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .home-agende {
    .container {
      flex-direction: row;
      justify-content: center;

      h2 {
        max-width: 360px;
        margin-bottom: 0;
        font-size: 28px;
        text-align: left;
      }
    }
  }
}
