.home-exames {
  width: 100%;
  padding: 64px 0;

  .container > h2 {
    margin-bottom: 32px;
    color: $gold;
    text-align: center;
  }
}

.home-exames-wrapper {
  display: grid;
  gap: 16px;
}

.exames-item {
  width: 100%;
  background-color: #fff;
  transition: 0.3s box-shadow ease-out;

  &:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  }

  > div {
    position: relative;
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h2 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 8px;
      background-color: $gold;
      color: #fff;
      font-size: 22px;
      text-align: center;
    }
  }

  p {
    margin-top: 16px;
    padding: 0 16px 16px;
    font-size: 14px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .home-exames {
    padding: 128px 0;
  }

  .home-exames-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
  }

  .exames-item {
    width: 300px;
  }
}
