* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased; }

ul,
ol,
li {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  width: 90%;
  max-width: 1050px;
  margin: 0 auto; }

@keyframes reset {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1) rotate(0);
    visibility: visible; } }

