$darkGold: #be9769;
$gold: #e2bb8c;
$lightGold: #f7eee4;
$darkGrey: #606060;
$grey: #a5a5a5;
$lightGrey: #f0f0f0;
$blue: #00ffd8;
$green: #00ff6c;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1050px;
  margin: 0 auto;
}

@import './scss/header/header';
@import './scss/footer/footer';
@import './animation';
