.footer-wrapper {
  width: 100%;
  padding: 64px 0;
  background-color: $grey;
}

.footer-contact {
  margin-bottom: 32px;
  display: grid;
  gap: 16px;

  img {
    width: 180px;
    margin-bottom: 32px;
    justify-self: center;
  }

  a {
    max-width: 280px;
    padding: 6px;

    span {
      color: #fff;
    }
  }
}

.footer-contact-info {
  display: flex;
  flex-direction: column;

  a {
    display: flex;
    align-items: center;

    svg {
      width: 16px;
      height: 16px;
      margin-right: 6px;
      fill: #fff;
    }
  }
}

.footer-links {
  margin-bottom: 32px;
  display: grid;
  gap: 16px;

  .footer-links-midias {
    display: flex;

    a {
      margin-right: 16px;
    }
  }

  .footer-links-sitemap a {
    display: block;
    padding: 3px 0;
    color: #fff;
  }

  .btn {
    justify-self: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrapper .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
  }

  .footer-contact {
    img {
      justify-self: flex-start;
    }
  }

  .footer-links {
    display: grid;
    align-self: flex-end;

    .footer-links-midias {
      margin-bottom: 32px;
    }
  }

  .footer-form {
    align-self: flex-end;
  }
}

@import './form';
